*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'PT Sans', sans-serif;;
}

:root{
  --nav-color: #0084fd;
  --col-color: #b5ddff;
  --primary-color: #9593e6;
  --free-color: #fdc15f;
  --footer-color:#333333;
}

img{
  width: 100%;
}

.d-flex{
  display: flex;
}
.center{
  justify-content: center;
}
.sp-bt{
  justify-content: space-between;
}


.container{
  width: 100%;
}

/* .container1140{
  width: 1140px;
} */

.debug{
  background-color: rgba(255, 0, 0, 0.374);
  border: 1px solid black;
}
.debug2{
  background-color: rgba(43, 24, 209, 0.94);
  border: 1px solid rgb(196, 237, 16);
}

header{
  background-color: var(--nav-color);
  height: 75px;
  width: 100%;
  color: white;
}

header li{
  list-style: none;
}

.menu-extend{
  display: none;
}

.logo{
  width: 30%;
}

.menu-hamb{
  width: 20%;
  height: 100%;
}
/* header */
/* main */
.jumbo .row{
  flex-direction: column;
}

.jumbo .col:nth-child(1){
  width: 100%;
  height: 600px;
}
 
.jumbo .col{
  width: 100%;
  height: 380px;
}
.jumbo .col:last-child{
  margin-bottom: 60px;
}
/* fine jumbo */
/* strategic part */
.strategic{
  height: 1400px;
  padding: 50px 0;
}

.strategic .col{
  height: 640px;
}
/* fine strategic */
/* inizio testimonials */
.testimonials{
  height: 2050px;
  padding: 60px 0 90px 0;
}
.testimonials .container{
  height: 100%;
}
.testimonials .row{
  height: 100%;
}

.testimonials .col{
  height: 520px;
  width: 100%;
}
.testimonials .col:nth-child(1){
  height: 350px;
}
.testimonials .row:nth-child(1) .col{
  text-align: center;
}
/* fine testimonials */

.benefits{
  height: 2830px;
  padding: 70px 0 50px 0;
}
.benefits h2{
  text-align: center;
  margin-bottom: 70px;
}
.benefits .col{
  height: 430px;
}
/* fine benefits */



/* media queries */
@media (min-width:768px){
  .jumbo .row{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .jumbo .row{
    padding: 30px 0 90px;
    height: 1180px;
  }
  .jumbo .col:nth-child(1){
    width: 66.66%;
  }
  .jumbo .col:nth-child(1),
  .jumbo .col:nth-child(2){
    height: 60%;
  }
  .jumbo .col{
    width: 33.33%;
    height: 40%;
  }
  /* fine jumbo */
  .strategic{
    height: 2000px;
  }
  .strategic .row:nth-child(1){
    height: 1150px;
  }
  .strategic .row:nth-child(2){
    height: 950px;
  }
  .strategic .col{
    height: 100%;
  }
  /* fine strategic */
  .testimonials{
    height: 1330px;
  }
  .testimonials .row .col{
    height: 310px;
  }
  /* fine testimonials */
  .benefits{
    height: 1510px;
  }
  .benefits .container{
    height: 100%;
  }
  .benefits .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .benefits .col{
    width:50%;
    height: 430px;
  }
}

@media(min-width:1200px){
  .jumbo .container{
    width: 1140px;
    margin: 0 auto;
    height: 870px;
  }
  .jumbo .row{
    height: 870px;
  }
  .row .col{
    height: 360px;
  }
  /* fine jumbo */
  /* strategic */
  .strategic{
    height: 930px;
  }
  .strategic .container{
    height: 100%;
    margin: 50px 100px;
    justify-content: center;
    display: flex;
    width: 1140px;
    margin: 0 auto;
  }
  .strategic .container .row{
    height: 100%;
  }
  .strategic .col{
    width: 440px;
    height: 100%;
  }
  .strategic .row:nth-child(2) .col{
    margin-top: 200px;
    height: calc(100% - 200px);
  }
/* fine strategic */

  .testimonials .container{
    width: 1140px;
    margin: 0 auto;
  }
/* fine testimonials */

  .benefits{
    height: 1090px;
  }
  .benefits .container{
    width: 1140px;
    margin: 0 auto;
  }
  /* .benefits .row{
    display: flex;
    
  } */
  .benefits .col{
    width: 33.33%;
    height: 430px;
  }
}

