*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'PT Sans', sans-serif;;
}

:root{
  --nav-color: #0084fd;
  --col-color: #b5ddff;
  --primary-color: #9593e6;
  --free-color: #fdc15f;
  --footer-color:#333333;
  --p:#677f93;
}

img{
  width: 100%;
}

.d-flex{
  display: flex;
}
.center{
  justify-content: center;
}
.sp-bt{
  justify-content: space-between;
}
.d-colu{
  flex-direction: column;
}

.btn{
  background-color: var(--nav-color);
  padding: 10px 40px;
  border-radius: 20px;
  max-width: 200px;
}

.container{
  width: 100%;
}

/* .container1140{
  width: 1140px;
} */

.debug{
  background-color: rgba(255, 0, 0, 0.374);
  border: 1px solid black;
}
.debug2{
  background-color: rgba(43, 24, 209, 0.94);
  border: 1px solid rgb(196, 237, 16);
}

header{
  background-color: var(--nav-color);
  height: 75px;
  width: 100%;
  color: white;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

header li{
  list-style: none;
}

header .container{
  width: 95%;
  margin: 0 auto;
}

.menu-extend{
  display: none;

}

.logo{
  width: 80px;
  padding-left: 20px;
 
}

.menu-hamb{
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
.menu-hamb i{
  font-size: 2rem;
}
/* header */
/* main */
.jumbo{
  margin-top: 75px;
}

.jumbo h2{
  color: var(--nav-color);
}

.jumbo p{
  font-weight: 510;
  color: var(--p);
}

.jumbo .row{
  flex-direction: column;
}

.jumbo .col:nth-child(1){
  width: 90%;
  height: 600px;
  margin-top:50px ;
}

.jumbo .col{
  margin: 0 auto 25px;
  width: 90%;
  height: 380px;
  border-radius: 25px;
  background-color: var(--col-color);
}
.jumbo .col:last-child{
  margin-bottom: 60px;
}
.card{
  width: 90%;
  height: 90%;
}

.jumbo .text{
  height: 100%;
  width: 100%;
  margin-bottom:40px;
  padding: 35px 20px;
}

.jumbo .text a{
  text-decoration: none;
  color: white;
}
.jumbo .image{
  width: 200px;
  margin: 0 auto;
}

.jumbo .card-small{
  padding:35px 20px;
  text-align: center;
}

.jumbo .card-small i{
  font-size: 6rem;
  margin-bottom: 20px;
  color: var(--nav-color);
}

.jumbo .card-small h2{
  padding-bottom: 38px;
}
.jumbo .card-small p{
  line-height: 25px;
}

/* fine jumbo */
/* strategic part */
.strategic{
  /* height: 1400px; */
  padding: 50px 0;
  background-color: var(--primary-color);
}

.strategic .col{
  margin: 0 30px;
}

.strategic .col.violet{
  color: white;
  background-color: var(--primary-color);
}

.col.violet h2{
  margin-top: 80px;
  margin-bottom: 55px;
  font-size: 2rem;
}

.col.violet p,
.white p{
  line-height: 25px;
  margin-bottom: 35px;
}

.strategic .text{
align-items: center;
}

.white{
  background-color: white;
  text-align: center;
  border-radius: 50px;
}

.white .image{
  justify-content: center;
  width: 250px;
  margin-bottom: 30PX;
}

.white h2{
  margin-bottom: 30px;
}

.white .arrow-down{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-bottom: 30px;
}
/* fine strategic */

/* inizio testimonials */
.testimonials{
  padding: 60px 0 90px 0;
  background-color: white;

}
.testimonials .container{
  height: 100%;
}
.testimonials .row{
  height: 100%;
}

.testimonials .col{
  width: 100%;
}
.testimonials .col:nth-child(1){
  height: 350px;
}
.testimonials .row:nth-child(1) .col{
  text-align: center;
}

.testimonials .col.d-flex{
  justify-content: center;
}

.testimonials .caption{
  padding: 70px 40px 0;
  margin-bottom: 50px;
}

.testimonials .caption h2{
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--primary-color);
}

.testimonials .card{
  /* width: 90%; */
  color: white;
  margin-bottom: 30px;
  align-items: center;
  padding: 30px 20px 35px;
  border-radius: 40px;
  background-color: var(--primary-color);
}


.testimonials .image{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 25px;
}
.testimonials .image img{
  object-fit: cover;
  border-radius: 50%;
}

.testimonials .card p{
  line-height: 25px;
  margin-bottom: 35px;
}
/* fine testimonials */

.benefits{
  height: 2830px;
  padding: 70px 0 50px 0;
}
.benefits h2{
  text-align: center;
  margin-bottom: 70px;
}
.benefits .col{
  height: 430px;
}
/* fine benefits */
.about{
  height: 1600px;
  padding: 90px 0 80px 0;
}
.about .row{
  height: 100%;
}
.about .col:nth-child(1){
  height: 950px;
}
.about .col:nth-child(2){
  height: 450px;
}
/* fine about */

.free{
  height: 615px;
  padding: 60px;
}
.free .container{
  width:90%;
  height: 100%;
  text-align: center;
}

/* fine free */

footer{
  background-color:#333333;
  height: 230px;
}

/* media queries */
@media (min-width:768px){
  .jumbo .row{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .jumbo .row{
    padding: 30px 0 90px;
    height: 1180px;
  }
  .jumbo .col:nth-child(1){
    width: 63%;
  }
  .jumbo .col:nth-child(1),
  .jumbo .col:nth-child(2){
    height: 63%;
    margin-bottom:25px;
    margin-top: 0;
  }
  .jumbo .col{
    width: 30%;
    height: 37%;
  }

  .jumbo .image{
    margin: 0;
  }
  /* fine jumbo */
  /* .strategic{
    height: 2000px;
  } */
  /* .strategic .row:nth-child(1){
    /* height: 1150px; */
  
  /* .strategic .row:nth-child(2){
    height: 950px;
  } */
  .strategic{
    padding: 120px 0 60px 0;
  }

  .strategic .text{
    align-items: flex-start;
  }

  /* .strategic .text .image{
    margin: 0 auto;
  } */
  .strategic .white .text{
    align-items: center;
  }
  .strategic .white .image{
    width: 100%;
  }
  .strategic .col{
    height: 100%;
  }
  /* fine strategic */
 
  .testimonials .row .col{
    height: 310px;
  }
/* 
  .testimonials .caption{
    padding: 0 40px 0 ;
  } */

  .testimonials .caption h2{
    font-size: 2.7rem;
  }

  .testimonials .row:nth-child(1) .card{
    text-align: left;
  }
  .testimonials .card{
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .testimonials .cit{
    flex-shrink: 4;
  }
  .testimonials .image{
    margin-right: 30px;
    min-width:200px;
    width: 20%;
  }
  /* fine testimonials */
  .benefits{
    height: 1510px;
  }
  .benefits .container{
    height: 100%;
  }
  .benefits .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .benefits .col{
    width:50%;
    height: 430px;
  }
  /* fine benefits */
  .about{
    height: 1050px;
  }
  .about .row{
    display: flex;
    flex-wrap: wrap;
  }
  .about .col:nth-child(1){
    height: 830px;
    width: 60%;
  }
  .about .col:nth-child(2){
    height: 520px;
    width: 40%;
  }
  
  /* fine about */
  .free .container{
    width: 80%;
  }

}

@media(min-width:1200px){
  header .container{
    width: 1140px;
    margin: 0 auto;
  }
  .menu-extend{
    display: block;
    height: 100%;
    width: 55%;
    justify-content: space-between;
  }
  .menu-extend ul{
    justify-content: space-between;
    align-items: center;
  }
  .menu-extend li{
    color: white;
    display: flex;
    align-items: center;
  
  }
  .menu-extend a{
    color: white;
  }
  .menu-hamb{
    display: none;
  }
  .jumbo .container{
    width: 1140px;
    margin: 0 auto;
    height: 870px;
  }
  .jumbo .row{
    height: 870px;
  }
  .jumbo .row .col{
    height: 360px;
  }

  .jumbo .col:nth-child(1){
    flex-direction: row;
    align-items: flex-end;
  }
  .jumbo .col:nth-child(1) .text{
    justify-content: space-around;
  }

  .jumbo .text{
    width: 50%;
  }

  .jumbo .image{
    display: flex;
    align-items: flex-end;
    width: 37%;
    height: 270px;
    margin: 0 auto;
  }
  /* fine jumbo */
  /* strategic */
 
  .strategic .container{
    height: 100%;
    margin: 50px 100px;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    width: 1140px;
    margin: 0 auto;
  }
  .strategic .container .row{
    height: 100%;
  }
  .strategic .col{
    width: 440px;
    height: 100%;
  }
  .strategic .row:nth-child(2) .col{
    margin-top: 200px;
    height: calc(100% - 200px);
  }

  .strategic .violet h2{
    margin-top: 140px;
  }

  .strategic .white{
    padding: 0 40px;
  }

  .strategic .white p{
    font-style: italic;
  }
  .strategic .white .image{
    width: 280px;
    margin-top: 30px;
  }
/* fine strategic */

  .testimonials .container{
    width: 1140px;
    margin: 0 auto;
  }
/* fine testimonials */

  .benefits{
    height: 1090px;
  }
  .benefits .container{
    width: 1140px;
    margin: 0 auto;
  }
  /* .benefits .row{
    display: flex;
    
  } */
  .benefits .col{
    width: 33.33%;
    height: 430px;
  }
  /* fine benefits */
  .about{
    height: 880px;
  }
  .about .container{
    width: 1140px;
    margin: 0 auto;
  }
  .about .col:nth-child(1){
    height: 630px;
    width: 70%;
  }
  .about .col:nth-child(2){
    height: 520px;
    width: 30%;
  }
  /* fine about */
  .free .container{
    width: 50%;
  }
}

